.container {
  margin: 50px;
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: #272727;
    line-height: 30px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
}

.bottomDots{
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: none;
  }
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
}

.brand {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  color: #848484;
  gap: 5px;
}

.deals {
  display: grid;
  place-content: center;
  gap: 20px;
  justify-items: center;
}

.buttons {
    margin: 0 50px;
  position: relative;
  top: 180px;
  z-index: 1;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.services{
    margin: 50px;
}