.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    button{
        width: 54px;
        height: 54px;
        background: rgba(39, 39, 39, 0.8);
        opacity: 0.8;
        color: #FFFFFF;
        border-radius: 100%;
        border: none;
        padding: 10px;
        font-size: 30px;
        
        &:hover{
            cursor: pointer;
            transform: scale(0.98);
        }
    }
}