.card {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  &:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

.image{
border-radius: 10px 10px 0 0 ;
}

.content{
    padding: 13px 21px;
}
