.container{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    overflow-y: scroll;
}

.buttons{
    position: relative;
    top: 130px;
    z-index: 1;
}

.box{
    display: grid;
    place-content: center;
    justify-items: center;
    grid-auto-flow: row;
    margin: 40px 20px;
}