.footer {
  background-color: #00071b;
  color: #ffffff;
  border: none;
  hr {
    border: 1px solid #ffffff;
    border-top: none;
  }
  p{
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
      }
  }
}

.container {
  background-color: #00071b;
  width: 100%;
  padding: 50px;
  color: #ffffff;
  border: none;
  div {
    display: flex;
    align-items: flex-start;
  }
  p {
    font-weight: 700;
    font-size: 24px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
  li {
    line-height: 23px;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    &:hover {
      cursor: pointer;
      transform: scale(0.98);
    }
  }
}

.logo {
  gap: 20px;
}

.lists {
  justify-content: space-between;
  margin: 80px 80px 0 80px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 39px 0;
  gap: 100px;
}

.socials {
  display: flex;
  gap: 20px;
  
}

.social{
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
}
