.container {
  gap: 24px;
  padding: 47px 32px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
  place-content: center;
  justify-items: center;
  text-align: center;
  &:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

.userImage {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-size: cover;
}

.rating {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  align-items: flex-end;
}

.testimonial {
  font-size: 24px;
  font-weight: 400;
  color: #272727;
  width: 700px;
  height: 100px;
}
